services:
  catalogue:
   image: catalogue:v1 
   container_name: catalogue
  mongodb:
   image: mongodb:v1 
   container_name: mongodb  
  redis: 
   image: redis:v1 
   container_name: redis 
  rabbitmq: 
   image: rabbitmq:v1 
   container_name: rabbitmq
  user: 
   image: user:v1 
   container_name: user 
  cart: 
   image: cart:v1 
   container_name: cart 
  shipping: 
   image: shipping:v1 
   container_name: shipping 
  payment: 
   image: payment:v1 
   container_name: payment 
  frontend: 
   image: frontend:v1
   container_name: frontend 
  
   
networks:
  default: 
   driver: bridge 
   name: roboshop 
   external: false #trur if you have created network manually using docker network command

  
